@charset "utf-8";
.clear:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.header_wrap{
	height: 64px;
}
.banner_wrap{
	width: 100%;
	background:url(../img/sBanner.jpg) center/cover no-repeat;
}
.banner{
	width: 1200px;
	margin: 0 auto;
	height: 400px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	color: #fff;
}
.banner h1{
	font-size: 40px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 16px;
}
.con_wrap{
	width: 100%;
	padding: 40px 0;
	background-color: #f2f2f2;
}
.con{
	width: 1200px;
	margin: 0 auto;
}
.con_nav{
	position: relative;
	width: 285px;
	height: 474px;
	background-color: #fff;
	box-sizing: border-box;
	padding: 24px 32px;
	font-size: 16px;
	float: left;
}
.con_nav>i{
	position: absolute;
	top: 34px;
	left: 136px;
	font-size: 20px;
	transition: all .5s;
}
.con_nav_list li{
	line-height: 24px;
	color: #303233;
	padding: 8px 0;
	cursor: pointer;
}
.con_nav_list li:hover{
	font-weight: bold;
}
.con_nav_list .con_nav_li{
	font-weight: bold;
}
.con_right{
	width: 895px;
	float: right;
}
.con_right .con_right_item:nth-child(2n){
	float: right;
}
.con_right img{
	display: block;
	width: 100%;
	height: 100%;
}
.con_right_item{
	width: 437px;
	float: left;
	transition: box-shadow .5s;
	cursor: pointer;
	background-color: #fff;
	margin-bottom: 20px;
}
.con_right_item:hover{
	box-shadow: 0 0 5px #999;
}
.item_img{
	width: 270px;
	height: 270px;
	margin: 0 auto;
}
.item_txt{
	box-sizing: border-box;
	padding: 6px 32px 32px;
	color: #303233;
}
.item_txt h3{
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 16px;
	font-weight: 600;
}
.item_txt p{
	font-size: 16px;
	line-height: 24px;
	height: 48px;
	margin-bottom: 32px;
}
.item_txt_active{
	height: 46px;
}
.item_txt_active button{
	line-height: 16px;
	padding: 15px 32px;
	border: none;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	margin-right: 32px;
	background-color: #303233;
}
.item_txt_active button:hover{
	background-image: linear-gradient(-180deg,#666 0%,#303233 100%);
}
.item_txt_active span{
	cursor: pointer;
	font-weight: 600;
}